[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "lib/aff3ct"]
	path = lib/aff3ct
	url = git@github.com:Shen-Cao/aff3ct.git
[submodule "./lib/aff3ct"]
	branch = legacy-cascl-version
